{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
        #map {
            margin-left: 3%;
            height: 100%;
            z-index: 1;
        }
        #chart1{
            width: 100%;
        }
        #contain{
            margin: 40px 0px;
        }
        #map_title{
            position: absolute;
            text-align: center;
            left: 25%;
            top: 2%;
            width: 50%;
            background-color: rgba(255,255,255, 0.6);
            z-index: 10;
        }
        #bool_list > li{
            margin-top: 55px;
            line-height: 12px;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="row">
            <div>
                <input type="checkbox" name="" checked>
                <div>捷運</div>
            </div>
            <div>
                <input type="checkbox" onclick="minus_light()" checked>
                <div> 輕軌</div>
            </div>
        </div>
        <div id="contain" class="row">
            <div>
                <ul id="bool_list">
                    <!-- <span>不使用</span> -->
                    <li><input type="checkbox" name="medi_bool" onclick="change_bool(0)" checked></li>
                    <li><input type="checkbox" name="free_bool" onclick="change_bool(1)" checked></li>
                    <li><input type="checkbox" name="traf_bool" onclick="change_bool(2)" checked></li>
                    <li><input type="checkbox" name="poli_bool" onclick="change_bool(3)" checked></li>
                    <li><input type="checkbox" name="popu_bool" onclick="change_bool(4)"></li>
                </ul>
            </div>
            <div class="col">
                <canvas id="chart1" class="col" height="400"></canvas>
            </div>

            <div class="col">
                <div id="map_title">
                    lnglat (<span id="lng">0</span>, <span id="lat">0</span>)
                </div>
                <div id="map">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script>
        var map;
        map = L.map('map').setView([22.621,120.273], 15.5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="https://www.openstreetmap.org/">OSM</a>',
            maxZoom: 18,
        }).addTo(map);

        /* Marker */
        // get json inside django
        var houses = JSON.parse('{{houses | safe}}');

        var lng = document.getElementById('lng');
        var lat = document.getElementById('lat');

        var mark_f = function(e){
            myChart.data.datasets[0].data = e.target.data;
            myChart.update();
        }
        function onMapClick(e) {
            lat.innerText =  Math.floor(e.latlng.lat * 10000) / 10000;
            lng.innerText =  Math.floor(e.latlng.lng * 10000) / 10000;
        }
        function change_bool(i){
            // console.log(myChart.data.datasets[0].data);
            var temp = myChart.data.datasets[0].data[i];
            myChart.data.datasets[0].data[i] = -temp;
            myChart.update();
        }
        function minus_light(){
            if(myChart.data.datasets[0].data[2] > 500){
                myChart.data.datasets[0].data[2] = myChart.data.datasets[0].data[2] / 2;
            }
            else{
                myChart.data.datasets[0].data[2] = myChart.data.datasets[0].data[2] * 2;
            }
            myChart.update();
        }

        // function

        // draw
        for (var i = 0;i < houses.length;i++){
            var h = houses[i];

            var marker = L.marker([h['lat'], h['lng']]);
            marker.addTo(map);
            marker.bindPopup(h['name'] + ' <a href="/house/properties/'+h.id+'/">more</a>');

            marker.data = [h.medical_score, h.freeway_score, h.traffic_score, h.police_score, h.population_score];
            marker.addEventListener('click', mark_f);
        }
        map.on('click', onMapClick);
    </script>

    <script>
		var ctx = document.getElementById('chart1');
		var myChart = new Chart(ctx, {
		    type: 'horizontalBar',
		    data: {
		        labels: ['醫療', '高速公路', '大眾運輸', '治安', '教育'],
		        datasets: [{
		            label: '指數',
		            data: [],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		    	responsive: false,
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }],
                    xAxes: [{
		                ticks: {
		                    min: -1000,
                            max: 1000
		                }
		            }]
		        }
		    }
		});
        // console.log('chart', myChart);
	</script>
{% endblock %}
