<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>OD 2019</title>
    </head>
    <body>
        <ol>
            <li><a href="{% url 'self' %}">User Self</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'register' %}">Register</a></li>
        </ol>
    </body>
</html>
